<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
<!--Für die Session ist ein Sessiontimeout von 30min festgelegt.
    Außerdem sind die security_constraints dafür zuständig, dass die Zurordnung von Nutzer und Admin in die
    jeweilgen Nutzerbereiche erfolgreich zugeordnet wird. Z.B. Ist der Benutzerbereich nur für den Ordner nutzer 
    und alle darunter liegenden Bereiche zugängig. 
    Die Zugangskontrolle wird mit einem Realm in der Glassfish
    Admin Console zudem überprüft.
    
    Des Weiteren sind die Errorpage und der Login auch definiert. 
    -->
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>403</error-code>
        <location>/403.jsp</location>
    </error-page>
    <security-constraint>
        <display-name>Benutzerbereich</display-name>
        <web-resource-collection>
            <web-resource-name>Nutzer-Ordner</web-resource-name>
            <description/>
            <url-pattern>/nutzer/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Benutzer</role-name>
            <role-name>Admin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Adminbereich</display-name>
        <web-resource-collection>
            <web-resource-name>Admin-Ordner</web-resource-name>
            <description/>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Admin</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>Zugangskontrolle</realm-name>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/login.jsp?Retry=True</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>Benutzer mit Zugriffsrechten</description>
        <role-name>Benutzer</role-name>
    </security-role>
    <security-role>
        <description>Administratoren mit Änderungsrechten</description>
        <role-name>Admin</role-name>
    </security-role>
    <resource-ref>
        <res-ref-name>jdbc/nutzer</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
   
</web-app>
