
/*Navigation: */
.blog-nav {
    margin: 0px;
    padding: 15px;
    text-align: center;
    margin-top: 0px;
    font-size: 2rem;    
}

.blog-nav-item {
    padding: 15px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1.0em;
    color: #222222;
}

.a {
    background-color: transparent;
    text-decoration: none;
    outline: none;
}

.btn-link:focus,
.btn-link:active:focus,
.btn-link:hover {
    text-decoration: none;
    color: #919191;
    outline: none;
}

/*Container für alle body Elemente*/
.container {
    width: 900px;
    position: relative;
    min-height: 100%;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/*Überschriften*/
h1 {
    font-size: large;
}

h2 {
    color: #414141;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
} 

/*Bootstrap - Button*/
.btn, .btn-primary, .hinzufügen {
    margin-bottom: 15px;
}

/*Löschen der Daten*/
.xclass{
    text-decoration: none;
    color: white;  
}
.xclass:focus,
.xclass:active:focus,
.xclass:hover { 
    text-decoration: none;
    color: white; 
}

.xclassadmin {
    text-decoration: none;
    color: black;
        
}
.xclassadmin:focus,
.xclassadmin:active:focus,
.xclassadmin:hover { 
    text-decoration: none;
    color: black; 
}



/*Fehlermeldung*/
.error {
    color:red;
}

.errormeldung {
    border: solid grey 1px;
    padding: 10px;
}


/*Anzeige Adminbereich*/
.okay {
    color:green;
}


/*Sessioninformation*/
div#sessioninfo {
    font-size: small;
    color: #222222;
    background-color: #eeeeee;
    margin-top: 5px;
    border-width: 2px;
    border-style: solid;
    display: table;
    margin-bottom: 20px;    
}

/*Tabellen und Datenbankausgaben*/
.datenbank  {
    margin-top: 35px;
}

.datenbankadmin {
    margin-top: 20px;
}


.add {
    margin-top: 0px
}


/*Width-Definiton der Datenbank im Benutzerbereich*/
.maxbreite {
    width: 550px;
}

/*Registrierung*/
.register {
    margin-top: 30px;
}

/*Einlogginformation*/
.logininfo p{
    font-size: 15px;
}

/*Registrierungsformular*/
.formular {
    max-width: 300px;
}
/*
Adminregistrierung*/
.formularadmin {
    max-width: 330px;
}



