h1 {
    font-size: large;
}

.error {
    color:red;
}

.errormeldung {
    border: solid grey 1px;
    padding: 10px;
}

.okay {
    color:green;
}

fieldset {
    display: inline-block;
}

form ol{
    margin: 0;
    list-style: none;
}

form ol li{      
    padding: 0;
    clear: both;
    margin: 0 0 5px 0;
}

label {
    width: 150px;
    float: left;
}

div#include{
    margin-top: 20px;
}

.blog-nav {
    margin: 0px;
    padding: 15px;
    text-align: center;
    margin-top: 0px;
    font-size: 2rem;
}

.blog-nav-item {
    display: inline-block;
    padding: 05px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1.2em;
    color: #222222;
}

.a {
    background-color: transparent;
    text-decoration: none;
}

.a, .btn-link {
    text-decoration: none;
    color: #222222;
}

.btn-link:hover {
    text-decoration: none;
    color: red;
}



div#sessioninfo {
    font-size: small;
    color: #0066cc;
    background-color: #eeeeee;
    margin-top: 5px;
    border-width: 1px;
    border-style: solid;
    display: table;
    margin-bottom: 20px;
    
}


.container {
    width: 768px;
    position: relative;
    min-height: 100%;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

}

.btn, .btn-primary, .hinzufügen {
    margin-bottom: 15px;
}


.datenbank  {
    margin-top: 55px;
}


.add {
    margin-top: 0px;
    
}

.maxbreite {
    width: 200px;
}


.add-weiß {
    
}

.register {
    margin-top: 30px;
}

